.counter {
    margin: 15px;
}

button {
    color:pink;
    background-color: hotpink;
    border-color: pink;
    border-width: 3px;
    margin: 20px;
    font-family: Impact;
    font-size: 15px;
}

div {
    font-size: 25px;
    font-family:Impact;
    color: rebeccapurple;
}

input {
    font-size: 20px;
    font-family: Impact;
    border-width: 3px;
    border-color: hotpink;
}